h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
{
  font: $alt-font;
  line-height:1.2;
  margin:0;
}

h1,.h1{
  color:white;
  font-size:30px;
  //text-transform:uppercase;
  @include mq(lg){
    font-size:$h1-font-size;
  }
}

h2,.h2{
  color:black;
  font-size:26px;
  font-weight: 600;
  //text-transform:uppercase;
  @include mq(lg){
    font-size:$h2-font-size;
  }
}

a{
  color:$color-cornflower;
  text-decoration:none;
  font-weight: 600;
  &:hover{
    text-decoration:underline;
  }
}

p {
  color: white;
  font-size: 18px;
}