html{
  background-color:white;
  font-size:1em;
  line-height:1.5;
  overflow-y:scroll;
  min-height:100%;
  letter-spacing: 1px;
}

body{
  background-color:white;
  font:$alt-font;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

*{
  box-sizing:border-box;
}

.site-wrap{
  background-color:white;
  margin:0 auto;
  max-width:$site-max-width;
  overflow:hidden;
}

.list-bare {
  margin: 0;
  list-style: none;
  padding: 0;
}
