html {
  background-color: white;
  font-size: 1em;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
  letter-spacing: 0.0625rem; }

body {
  background-color: white;
  font: 400 1rem "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.site-wrap {
  background-color: white;
  margin: 0 auto;
  max-width: 1920px;
  overflow: hidden; }

.list-bare {
  margin: 0;
  list-style: none;
  padding: 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font: 400 1rem "Raleway", sans-serif;
  line-height: 1.2;
  margin: 0; }

h1, .h1 {
  color: white;
  font-size: 1.875rem; }
  @media (min-width: 61.25em) {
    h1, .h1 {
      font-size: 3rem; } }

h2, .h2 {
  color: black;
  font-size: 1.625rem;
  font-weight: 600; }
  @media (min-width: 61.25em) {
    h2, .h2 {
      font-size: 2.25rem; } }

a {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: 600; }
  a:hover {
    text-decoration: underline; }

p {
  color: white;
  font-size: 1.125rem; }

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 20px 15px; }
  @media (min-width: 34.75em) {
    .container {
      padding: 60px 15px; } }

.container--sm {
  padding: 20px 15px; }

.c-main {
  background-color: #252627;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.c-main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 46.25em) {
    .c-main__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (max-width: 46.24em) {
    .c-main__wrapper {
      padding-top: 63px; } }
  .c-main__wrapper span {
    color: crimson; }
  .c-main__contact .c-main__wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .c-main__intro .c-main__wrapper {
    height: 100%; }

video {
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
  width: 300px;
  min-width: 100%;
  min-height: 100%;
  height: 100%; }

.c-main__logo {
  position: relative;
  height: 50%; }
  @media (min-width: 46.25em) {
    .c-main__logo {
      height: 100%;
      width: 50%; } }
  @media (min-width: 61.25em) {
    .c-main__logo {
      width: 42%; } }

svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; }
  svg text {
    font: 900 1rem "Heebo", sans-serif;
    text-transform: uppercase;
    font-size: 5rem; }
  svg rect {
    fill: white; }
  svg > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
    fill: #252627; }

.c-main__intro {
  height: 100vh;
  position: relative; }

.c-main__about {
  background-color: white;
  width: 100%; }

.c-main__skills {
  background-color: #f4f4f4;
  width: 100%; }

.c-main__title {
  width: 100%; }
  @media (min-width: 46.25em) {
    .c-main__title {
      max-width: 460px; } }
  .c-main__about .c-main__title h2 {
    color: black; }

.c-main__content {
  padding: 0 15px; }
  .c-main__content p {
    color: black; }
  .c-main__content span {
    color: crimson; }
  .c-main__about .c-main__content p {
    color: #252627; }
  @media (min-width: 46.25em) {
    .c-main__intro .c-main__content {
      width: 50%; } }
  @media (min-width: 61.25em) {
    .c-main__intro .c-main__content {
      width: 68%; } }

.c-main__contact {
  background-color: #252627;
  width: 100%;
  text-align: center; }
  .c-main__contact h2 {
    color: white; }

.c-main__list span {
  display: block;
  color: #252627; }

nav {
  margin-top: 40px;
  position: absolute;
  text-align: center;
  width: 100%; }
  @media (min-width: 46.25em) {
    nav {
      text-align: right; } }
  nav a {
    color: white;
    margin: 0 10px;
    text-transform: uppercase; }

.c-project {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.c-project__list {
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .c-project__list:hover {
    background-color: cornflowerblue; }
    .c-project__list:hover .c-project__name {
      color: #fff; }

.c-project__item {
  -webkit-column-count: 2;
          column-count: 2;
  padding: 35px 15px;
  border-bottom: 1px solid white; }

.c-project__name {
  display: block;
  font-size: 1.625rem;
  color: crimson; }

.c-project__origin {
  color: #fff;
  display: block;
  font-size: 1.125rem; }
