.c-main {
  //height: 100vh;
  background-color: $color-dark-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include mq(sm){
  }
}

.c-main__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  @include mq(md){
    flex-direction: row;
  }

  @include mq($until:md){
    padding-top: 63px;
  }

  span {
    color: $color-crimson;
  }

  .c-main__contact & {
    justify-content: center;
  }

  .c-main__intro & {
    height: 100%;
  }
}

video {
  object-fit: fill;
  display: block;
  width: 300px;
  min-width: 100%;
  min-height: 100%;
  height:100%;
}

.c-main__logo {
  position: relative;
height: 50%;
  @include mq(md){
    height: 100%;
    width: 50%;
  }
  @include mq(lg){
    width: 42%;
  }
}

svg {
  width: 100%;
  position:absolute;
  top: 0;
  left: 0; // needed for FF, Safari, Edge
  height: 100%;

  text {
    font: $font-heebo;
    text-transform: uppercase;
    font-size: 80px;
  }

  rect {
    fill: white;
  }

  > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
    fill: $color-dark-grey;
  }
}

.c-main__intro {
  height: 100vh;
  position: relative;
}

.c-main__about {
  background-color: white;
  width: 100%;
}

.c-main__skills {
  background-color: #f4f4f4;
  width: 100%;
}


.c-main__title {
  width: 100%;

  @include mq(md){
    max-width: 460px;
  }

  .c-main__about & {
    h2 {
      color: black;
    }
  }
}

.c-main__content {
  padding: 0 15px;
  p {
    color: black;
  }
  span {
    color: $color-crimson;
  }

  .c-main__about & {
    p {
      color: $color-dark-grey;
    }
  }

  .c-main__intro & {

    @include mq(md){
      width: 50%;
    }
    @include mq(lg){
      width: 68%;
    }
  }
}

.c-main__contact {
  background-color: $color-dark-grey;
  width: 100%;
  text-align: center;
  h2 {
    color: white;
  }
}
.c-main__list {

  span {
    display: block;
    color: $color-dark-grey;
  }
}