nav {
  margin-top: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
  @include mq(md){
    text-align: right;
  }
  a {
    color: white;
    margin: 0 10px;
    text-transform: uppercase;
  }
}