.c-project {
  align-items: center;
  display: flex;
  justify-content: center;
  //padding: 0 0 0 50px;
  width: 100%;
  flex-direction: column;
}



.c-project__list {
  width: 100%;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background-color: $color-cornflower;
    .c-project__name{
      color: #fff;
    }
  }
}

.c-project__item {
  column-count: 2;
  padding: 35px 15px;
  border-bottom: 1px solid white;
}

.c-project__name {
  display:block;
  font-size: 26px;
  color: $color-crimson;
}

.c-project__origin {
  color: #fff;
  display: block;
  font-size: 18px;
}