$site-max-width: 1920px;

$grid-breakpoints:(
        xs:0,
        sm:556px,
        md:740px,
        lg:980px,
        xl:1200px,
        xxl:1598px,
        max:1920px
);

$mq-breakpoints: $grid-breakpoints;
//@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");

$grid-columns: 12;
$grid-gutter-width-base: 30px;
$grid-gutter-widths:(
        xs: $grid-gutter-width-base,
        sm: $grid-gutter-width-base,
        md: $grid-gutter-width-base,
        lg: $grid-gutter-width-base,
        xl: $grid-gutter-width-base,
);

$transition: 0.25s;