$font-arial: 400 1rem "Arial", sans-serif;
$font-arial-narrow: 400 1rem "Arial Narrow", Arial, sans-serif;
$font-raleway: 400 1rem "Raleway", sans-serif;
$font-heebo: 900 1rem "Heebo", sans-serif;

$main-font: $font-arial;
$alt-font: $font-raleway;

$h1-font-size:  48px;
$h2-font-size:  36px;
$h3-font-size:  26px;
$h4-font-size:  24px;
$h5-font-size:  21px;
$h6-font-size:  18px;

$base-text-size:16px;
